.formulario{
  display: flex;
  padding-top:60px;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  color: #d9d9d9;
  gap: 3px;
}

h5{
  display:flex;
  font-size: 40px;
  text-decoration:underline black;
  text-align: center;
  justify-content: center;
  animation: slideIn 3s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.contacto form div label {
  font-size: 30px;
  padding: 9px;
  text-shadow: 2px 1px 2px black;
}